* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* game board */
.board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 2px;
}

.board .boardSpace {
    border: 2px solid black;
}