@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* game board */
h1 {
    padding: 20px;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 48px;
}

form {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

input {
    width: 200px;
    height: 32px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid black;
    border-radius: 8px;
    padding-left: 4px;
}

#start,
#reset {
    height: 32px;
    background-color: #555843;
    border-radius: 8px;
    border-style: none;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

#start:hover,
#reset:hover {
    background-color: #868b6a;
}

#start:active,
#reset:active {
    background-color: #555843;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 2px;
}

.square {
    background-color: #A7D397;
    border: 2px solid black;
    border-radius: 8px;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 4rem;
}

.square:hover {
    background-color: #c6f0b7;
}

.square:active {
    background-color: #A7D397;
}

